<%- include('Layouts/main-layout.ejs') %>
</head>

<body>
    <%- include('Layouts/navigation.ejs') %>
    <h1>Some error occurred!</h1>
    <p>We're working on fixing this, sorry for the inconvenience!</p>
    <h3 style="margin-left: 10%; border: 2px dashed red; width: 50%;" ><%= Error %> </h3>
</body>
</html>