<%- include('layouts/main-layout.ejs') %>
<link rel="stylesheet" href="/css/Loading.css">
</head>

<body>
  <%- include('layouts/navigation.ejs') %>
<div class="loader" style ="margin-left: 45%; margin-top: 15%;"></div>
</body>
</html>