<%- include('../Layouts/main-layout.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/auth.css">
</head>
<body>
    <%- include('../layouts/navigation.ejs') %>
    <main>
        <form class="login-form" action="/auth/login" method="POST">
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input type="email" name="email" id="email">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
                <p style="color: red; margin-top: 0%; font-size: 14px; font-family: Garamond, serif; text-align: center;"><%= passwordvalid %></p>
            </div>
            <button class="btn" type="submit">Login</button>
        </form>
    </main>
</body>
</html>